.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
  border: 2px solid rgba(181, 226, 140, 1);
}

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
  border: 2px solid rgba(241, 211, 87, 1);
}

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
  border: 2px solid rgba(253, 156, 115, 1);
}

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  color: white;
}

.cluster-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}